* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
  }
  .container {
	width: 100%;
	margin-bottom: 20px;
	padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
  }
  .container2 {
	padding-left: 8%;
	padding-right: 8%;
  }
  #navbar {
	width: 100%;
	display: flex;
	align-items: center;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
	z-index: 3;
	position: fixed;
	margin-left: -8%;
	margin-right: -8%;
	margin-top: -200px;
  }
  .logo {
	width: 100px;
	cursor: pointer;
	margin-left: 8%;
  }
  .menu-icon {
	width: 25px;
	height: 25px;
	cursor: pointer;
	display: none;
	background: #fff;
	padding: 3px;
	border-radius: 8px;
  }
  nav {
	flex: 1;
	text-align: right;
	margin-right: 8%;
  }
  nav ul li {
	list-style: none;
	display: inline-block;
	margin-right: 30px;
  }
  nav ul li a {
	text-decoration: none;
	color: rgb(69, 69, 69);
	font-size: 14px;
	font-weight: 700;
  }
  nav ul li a:hover {
	color: #2478d1;
	transform: translateX(-50%);
	transition: 0.5 ease-in;
  }
  .row {
	margin-top: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  .row .col-1 {
	animation: moveright 1s linear 1;
	animation-delay: 0.5s;
	visibility: hidden;
	animation-fill-mode: forwards;
  }
  @keyframes moveright {
	0% {
	  transform: translateX(-100px);
	  visibility: visible;
	}
	100% {
	  transform: translateX(0);
	  visibility: visible;
	}
  }
  .col-1 {
	flex-basis: 40%;
	position: relative;
	margin-left: 50px;
  }
  .col-1 h2 {
	font-size: 40px;
	color: #003e80;
  }
  .col-1 h3 {
	font-size: 25px;
	color: #707070;
	font-weight: 100;
	margin: 20px 0 10px;
  }
  .col-1 p {
	font-size: 16px;
	color: #b7b7b7;
	font-weight: 100;
  }
  .col-1 h4 {
	margin: 30px 0;
	font-size: 20px;
  }
  button {
	width: 140px;
	border: 0;
	padding: 12px 10px;
	margin-top: 30px;
	outline: none;
	color: #fff;
	background: linear-gradient(to right, #003e80, #3adef7);
	border-radius: 6px;
	cursor: pointer;
	transition: width 0.5s;
  }
  
  button img {
	width: 30px;
	display: none;
  }
  button:hover img {
	display: block;
  }
  button:hover {
	width: 160px;
	display: flex;
	align-items: center;
	transition: 1s ease-in;
	justify-content: space-between;
  }
  .btn-login {
	padding: 12px 20px;
	outline: none;
	color: #fff;
	background: linear-gradient(to right, #003e80, #3adef7);
	border-radius: 6px;
	cursor: pointer;
  }
  .btn-login:hover {
	color: #f6dfdf;
  }
  .col-1::after {
	content: "";
	width: 12px;
	height: 57%;
	background: linear-gradient(#003e80, #3adef7);
	position: absolute;
	left: -40px;
	top: 8px;
  }
  .col-2 {
	position: relative;
	flex-basis: 60%;
	display: flex;
	align-items: center;
  }
  .col-2 p small {
	font-size: 12px;
  }
  .col-2 .controller,
  small,
  .add-btn {
	width: 90%;
	animation: zoom 1s linear 1;
	animation-delay: 0.5s;
	visibility: hidden;
	animation-fill-mode: forwards;
  }
  .add-btn a {
	color: #fff;
	text-decoration: none;
  }
  @keyframes zoom {
	0% {
	  transform: scale(0.5);
	  visibility: visible;
	}
	100% {
	  transform: scale(1);
	  visibility: visible;
	}
  }
  .color-box {
	position: absolute;
	right: 0;
	top: 0;
	background: linear-gradient(#003e80, #3adef7);
	border-radius: 20px 0 0 20px;
	height: 99%;
	width: 80%;
	z-index: -1;
	transform: translateX(100px);
  }
  .add-btn img {
	width: 35px;
	margin-bottom: 5px;
  }
  .add-btn {
	text-align: center;
	color: #fff;
	cursor: pointer;
  }
  
  /* ABOUT US */
  .feature-box {
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	margin-top: 15px;
  }
  .features {
	flex-basis: 50%;
  }
  #feature {
	margin-top: 80px;
  }
  
  .features h1 {
	text-align: left;
	margin-bottom: 10px;
	font-weight: 100;
	color: #67b0fd;
  }
  .features-desc {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
  }
  .features-icon .fa {
	width: 50px;
	height: 50px;
	font-size: 30px;
	line-height: 50px;
	border-radius: 8px;
	color: #67b0fd;
	border: 1px solid #4293e9;
  }
  .features-text p {
	padding: 0 20px;
	text-align: initial;
  }
  
  /* END OF ABOUT US */
  
  /* PRODUCT SPEC */
  #product {
	width: 100%;
	margin: 0 auto;
	padding: 70px 0;
	background: linear-gradient(#fcfcfc, #dfeff6);
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
	  rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  .title-text {
	margin-top: 20px;
	text-align: center;
	padding-bottom: 30px;
  }
  .title-text p {
	margin: auto;
	font-size: 30px;
	color: #67b0fd;
	font-weight: bold;
	position: relative;
	z-index: 1;
	display: inline-block;
  }
  .title-text p::after {
	content: "";
	width: 50px;
	height: 35px;
	background: linear-gradient(#003e80, #3adef7);
	position: absolute;
	margin-left: 50%;
	top: -30px;
	left: 0;
	z-index: -1;
	transform: rotate(10deg);
	border-top-left-radius: 35px;
	border-bottom-right-radius: 35px;
  }
  .title-text h1 {
	font-size: 35px;
	color: #67b0fd;
	margin-top: 10px;
  }
  .product-box {
	margin-top: -20px;
	width: 80%;
  
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: auto;
  }
  .single-product {
	flex-basis: 48%;
	text-align: center;
	border-radius: 7px;
	margin-bottom: 20px;
	color: #fff;
	position: relative;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  .single-product img {
	width: 100%;
	border-radius: 7px;
  }
  .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	border-radius: 7px;
	cursor: pointer;
	background: linear-gradient(rgba(255, 255, 255, 0.5), #dafaff);
	opacity: 0;
	transition: 1s;
  }
  .single-product:hover .overlay {
	opacity: 1;
  }
  .product-desc {
	width: 80%;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	transition: 1s;
	opacity: 0;
	color: #003c80;
  }
  hr {
	background: #fff;
	height: 2px;
	border: 0;
	margin: 15px auto;
	width: 60%;
  }
  .product-desc p {
	font-size: 14px;
  }
  
  .text-spec li {
	text-align: justify;
	font-size: 12px;
  }
  .column {
	float: left;
	width: 50%;
  }
  .single-product:hover .product-desc {
	bottom: 40%;
	opacity: 1;
  }
  /* END OF PRODUCT SPEC */
  
  /* MAPS */
  #maps {
	width: 100%;
	padding: 70px 0;
  }
  iframe {
	width: 100%;
	height: 400px;
	margin: 0 auto;
  }
  /* END OF MAPS */
  
  /* CONTACT US */
  #contact {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
  }
  .contact-card {
	display: flex;
	flex-direction: row;
  }
  .left {
	display: flex;
	flex: 1;
	height: 522px;
	justify-content: center;
	align-items: center;
	color: #fff;
	background-color: #00b4cf;
  }
  .card-left {
	height: 50%;
	width: 80%;
	text-align: center;
	line-height: 22px;
  }
  .card-left img{
	  margin-top: 20px;
	  width:100px;
  }
  .right {
	display: flex;
	flex: 1;
	height: 460px;
	background-color: #fff;
	justify-content: center;
	align-items: center;
  }
  .card-right {
	width: 70%;
	height: 80%;
	display: wrap;
  }
  .card-right h2 {
	text-align: center;
  }
  input,
  textarea {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	font-size: 12px;
  }
  textarea{
	  height:90px;
  }
  input:focus,
  textarea:focus {
	online: 1px solid #00b4cf;
  }
  
  .left p {
	font: size 0.9rem;
  }
  .left h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
  }
  
  /* END OF CONTACT US */

    /* KALKULATOR */

#kalkulator{
  margin-top: 70px;
}

.klkpr{
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}
.kl-card{
  display: flex;
  flex-direction: row;
  background-color:  rgba(0, 0, 0, 0.7);
  color: #fff;
 
}
.kl-left{
  margin-top: 10px;
  display: flex;
  flex: 1;
  height: 400px;
  justify-content: center;
  align-items: center;

}
.kl-card-left{
  width: 80%;
}
.kl-card-left h3{
  text-align: center;
  margin-bottom: 20px;
}
.kl-card-right h3{
  text-align: center;
  margin-bottom: 20px;
  max-width: 80%;
}
.kl-card-right{
  width: 80%;
}
.kl-right{
  margin-top: 35px;
  display: flex;
  flex: 1;
  height: 400px;
  justify-content: center;
  

}
.kl-card-right tr{
	color: #fff;
}
.form-group select{
  width: 100px;
  border: 0;
  padding: 10px 10px;
  outline: none;
  background-color: #0066ff;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  color: #fff;
}
    /* END OF KALKULATOR */
  
  
  /* FOOTER */
  
  #footer {
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(#ffffff, #eefaff);
	width: 100vh;
	width: 100%;
	height: auto;
	color: rgb(128, 128, 128);
	margin-top: 100px;
  }
  .footer-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
  }
  .footer-content p {
	color: rgb(69, 69, 69);
  }
  .social-media {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
  }
  .social-media li {
	margin: 0 10px;
  }
  .social-media li a {
	text-decoration: none;
	color: rgb(29, 170, 252);
	border: 1px solid rgb(43, 164, 250);
	padding: 5px;
	border-radius: 50%;
	width: 20px;
	padding: 8px;
	font-size: 20px;
  }
  .social-media li a:hover {
	background-color: #006980;
	color: #fff;
	transition: 1s ease-in-out;
  }
  
  .copyright p {
	color: #004d80;
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 12px;
  }
  /* END OF FOOTER/
  
  
  /* --------------------RESPONSIVE------------------ */
  
  @media only screen and (max-width: 700px) {
	.container,
	.container2 {
	  padding-left: 3px;
	  padding-right: 3px;
	}
	#navbar {
	  width: 100%;
	  display: flex;
	  align-items: center;
	  background-color: #fff;
	  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
	  margin-left: 0;
	  margin-right: -8%;
	  margin-top: -100px;
	}
	.btn-login {
	  padding: 0;
	  background: none;
	  cursor: pointer;
	}
	.btn-login:hover {
	  color: #154b7e;
	}
	nav ul {
	  width: 60%;
	  height: 40%;
	  background: rgba(0, 55, 106, 0.8);
	  position: fixed;
	  top: 75px;
	  right: 0;
  
	  z-index: 2;
	}
	nav ul li {
	  display: block;
	}
	nav ul li a {
	  color: #fff;
	  font-size: 12px;
	  line-height: 25px;
	}
	.menu-icon {
	  display: inline-block;
	  margin-left: 85%;
	  position: fixed;
	  margin-right: 15px;
	  text-align: left;
	  z-index: 2;
	}
	#menuList {
	  overflow: hidden;
	  transition: 0.5s;
	}
	.logo {
	  width: 80px;
	  margin-top: 0px;
	}
  
	.row {
	  flex-direction: column-reverse;
	  margin-top: 100px;
	}
	.col-2 {
	  flex-basis: 100%;
	  margin-bottom: 50px;
	}
	.col-2 .controller {
	  width: 77%;
	}
	.color-box {
	  transform: none;
	}
	.col-1 h2 {
	  font-size: 28px;
	}
	.col-1 h3 {
	  font-size: 20px;
	}
	.col-1 p {
	  font-size: 15px;
	}
	.title-text p {
	  font-size: 24px;
	}
  
	.product {
	  width: 100%;
	}
	.single-product {
	  flex-basis: 100%;
	  margin-bottom: 30px;
	}
	.product-desc p {
	  font-size: 14px;
	}
	hr {
	  margin: auto;
	}
	.single-product:hover .product-desc {
	  bottom: 25%;
	}
	.column li {
	  font-size: 9px;
	}
  
	.features {
	  margin: 0 auto;
	  flex-basis: 100%;
	}
	.features-icon .fa {
	  width: 30px;
	  height: 30px;
	  font-size: 20px;
	  line-height: 30px;
	}
	.features h1 {
	  font-size: 20px;
	}
	.features-text p {
	  font-size: 12px;
	  text-align: justify;
	}
	iframe {
	  width: 100%;
	  height: 200px;
	  margin: 0 auto;
	}
  
	/* Contact Us */
	.contact-card{
	  flex-direction: column;
	}
	
  .right{
	text-align: center;
	align-items: center;
	
  }
  .left {
	margin-top: 20px;
	height: 400px;
  }
  .card-left {
	margin-top: 15px;
	height: 50%;
	width: 80%;
	text-align: center;
	line-height: 14px;
	font-size: 12px;
	margin-bottom: 15px;
  }
  .card-left img{
	  margin-top: 20px;
	  width:60px;
  }
	/* End of contact us */

    /* KALKULATOR */

    .kl-card{
    flex-direction: column;
  }
  .kl-card-right td, .kl-card-left label, .kl-card-left input{
    font-size: 14px;
  }

  .kl-card-left{
  width: 90%;
}
    .kl-card-right{
      margin-bottom: 20px;
    }
  .form-group input{
    max-width: 90%;
  }
  .form-group select{
    width: 80px;
    border: 0;
    padding: 7px 7px;
    outline: none;
    background-color: #0066ff;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    color: #fff;
  }
      /* End of KALKULATOR */
	footer p {
	  font-size: 8px;
	}
	.col-2 p small {
	  font-size: 10px;
	}
}
  